@keyframes fadeIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}